/* font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Noto+Sans+Bengali&family=Poppins&family=Roboto+Serif&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #264653;
    color: white;
}


.login{
    background-color: #E76F51;
    color: white;
    padding: 10px 20px 10px 20px;
    
    font-weight: 800px;
    border-radius: 8px;
    border: 0px;
}

.clr1{
    color: 
    #E76F51;
}
.fa-solid{
    color: #E77C40;
}
.blank-star{
    color: black;
}

footer{
    background-color: #0B0D17;
    color: white;
    padding: 30px 20px 20px 20px;
}